@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Bootstrap FileInput Demo</h2>
<h4 class="text-right"><a href="Documentation">API</a></h4> 
<hr />
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#base">
                基本上传
            </a>
        </div>
        <div id="base" class="panel-collapse collapse ">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">基本实例</div>
                <input id="input-1" type="file" class="file">
                <hr />
                <div class="alert alert-info" role="alert">隐藏文件预览</div>
                <input id="input-1a" type="file" class="file" data-show-preview="false">
                <hr />
                <div class="alert alert-info" role="alert">隐藏上传按钮</div>
                <input id="input-2" name="input2[]" type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                <hr />
                <div class="alert alert-info" role="alert">禁用</div>
                <input id="input-3b" type="file" class="file" disabled="disabled">
                <hr />
                <div class="alert alert-info" role="alert">通过JS初始化插件，隐藏插件的宽度和按钮</div>
                <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">设置控件大小，并设置允许一次选择上传的最大数量为3</div>
                <input id="input-6" name="input6[]" type="file" multiple class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">设置扩展过滤</div>
                <input id="input-7" name="input7[]" multiple type="file" class="file file-loading" data-allowed-file-extensions='["csv", "txt"]'>
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#advanced">
                高级用法
            </a>
        </div>
        <div id="advanced" class="panel-collapse collapse ">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">设置选择上传文件的大小和设置初始预览</div>
                <input id="input-24" name="input24[]" type="file" multiple class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">设置初始预览，并上传覆盖</div>
                <input id="input-25" name="input25[]" type="file" multiple class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">显示控件为一个单独的按钮</div>
                <input id="input-20" type="file" class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">只选择图片，自定义按钮样式</div>
                <input id="input-21" type="file" accept="image/*" class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">更改预览背景，并允许只用于选择和预览的文本文件。</div>
                <input id="input-22" name="input22[]" type="file" class="file-loading" accept="text/plain" multiple>
                <hr />
                <div class="alert alert-info" role="alert">使用模板的高级定制。例如，从右到左按钮的位置改变。</div>
                <input id="input-23" name="input23[]" type="file" multiple class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">使用插件方法在运行时改变输入。例如，单击“修改”按钮来禁用插件和更改插件选项。</div>
                <input id="input-40" name="input40[]" type="file" class="file" multiple>
                <br />
                <button type="button" class="btn btn-warning btn-modify">修改</button>
                <hr />
                <div class="alert alert-info" role="alert">使用allowedFileTypes限制文件类型</div>
                <input id="input-41" name="input41[]" type="file" multiple class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">只允许特定文件扩展名</div>
                <input id="input-42" name="input42[]" type="file" multiple class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">禁用预览和自定义自己的错误容器和消息。</div>
                <input id="input-43" name="input43[]" type="file" multiple class="file-loading">
                <div id="errorBlock" class="help-block"></div>
                <hr />
                <div class="alert alert-info" role="alert">控制最大预览文件大小。</div>
                <input id="input-44" name="input44[]" type="file" multiple class="file-loading">
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#folder">
                文件夹上传
            </a>
        </div>
        <div id="folder" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">上传文件夹里单个文件</div>
                <input id="input-folder-1" type="file" class="file-loading" webkitdirectory>
                <hr />
                <div class="alert alert-info" role="alert">上传文件夹里多个文件。在选定文件夹中的所有文件将被递归地选择上传。请注意，您可能需要控制允许文件夹上传文件的预览。另外，阅读和显示大量的文件在一个文件夹中预览可以使用你的浏览器内存和影响性能。</div>
                <input id="input-folder-2" name="input-folder-2[]" class="file-loading" type="file" multiple webkitdirectory accept="image/*">
                <div id="errorBlock" class="help-block"></div>
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#multiLanguage ">
                多语言
            </a>
        </div>
        <div id="multiLanguage" class="panel-collapse collapse ">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">设置为中文</div>
                <input id="input-pt-br" name="inputptbr[]" type="file" multiple class="file-loading">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#theming">
                主题
            </a>
        </div>
        <div id="theming" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">Font Awesome Theme</div>
                <input id="input-fa" name="inputfa[]" type="file" multiple class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">Glyphicons Theme</div>
                <input id="input-gly" name="inputgly[]" type="file" multiple class="file-loading">
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#previewManagement ">
                预览管理
            </a>
        </div>
        <div id="previewManagement" class="panel-collapse collapse ">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">初始化预览数据</div>
                <input id="input-pd" name="input-pd[]" type="file" multiple class="file-loading">
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#filePreviewIcons  ">
                文件预览图标
            </a>
        </div>
        <div id="filePreviewIcons" class="panel-collapse collapse ">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">禁用预览所有文件类型的内容,而是显示文件类型图标。</div>
                <input id="input-ficons-1" name="inputficons1[]" multiple type="file" class="file-loading">
                <hr />
                <div class="alert alert-info" role="alert">显示文件类型，部分显示内容</div>
                <input id="input-ficons-3" name="inputficons3[]" multiple type="file" class="file-loading">
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#imageDimensions   ">
                图像尺寸
            </a>
        </div>
        <div id="imageDimensions" class="panel-collapse collapse ">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">设置选择上传的图像的最小高度宽度</div>
                <input id="input-dim-1" name="inputdim1[]" type="file" multiple class="file-loading" accept="image/*">
                <hr />
                <div class="alert alert-info" role="alert">设置选择上传的图像的最大高度宽度</div>
                <input id="input-dim-2" name="inputdim2[]" type="file" multiple class="file-loading" accept="image/*">
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#imageManagement   ">
                图像管理
            </a>
        </div>
        <div id="imageManagement" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">图像调整大小（宽度）</div>
                <input id="input-image-1" name="input-image" type="file" class="file-loading" accept="image/*">
                <hr />
                <div id="kv-success-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Yippee!</h4>
                            </div>
                            <div id="kv-success-box" class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#autoReplaceFiles">
                自动替换文件
            </a>
        </div>
        <div id="autoReplaceFiles" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">限制一个文件</div>
                <input id="input-repl-1" type="file" class="file-loading" accept="image/*">
                <hr />
                <div class="alert alert-info" role="alert">限制一个文件（备用）</div>
                <input id="input-repl-1a" type="file" class="file-loading" accept="image/*">
                <hr />
                <div class="alert alert-info" role="alert">多个文件的限制</div>
                <input id="input-repl-2" name="inputrepl2[]" type="file" class="file-loading" accept="image/*" multiple>
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#fileCountValidation ">
                文件数量验证
            </a>
        </div>
        <div id="fileCountValidation" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">最大文件数量</div>
                <input id="input-fcount-1" name="inputfcount1[]" multiple type="file" class="file-loading" accept="image/*">
                <hr />
                <div class="alert alert-info" role="alert">最小文件数量</div>
                <input id="input-fcount-2" name="inputfcount2[]" multiple type="file" class="file-loading" accept="image/*">
                <hr />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#pluginMethods ">
                插件方法
            </a>
        </div>
        <div id="pluginMethods" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="alert alert-info" role="alert">操作方法</div>
                <input id="file-4" name="file-4[]" type="file" multiple>
                <hr>
                <button class="btn btn-default btn-disable" type="button">禁用</button>
                <button class="btn btn-danger btn-destroy" type="button">销毁</button>
                <button class="btn btn-success btn-recreate" type="button">重现</button>
                <button class="btn btn-info btn-refresh" type="button">刷新</button>
            </div>
        </div>
    </div>

</div>

<script>
    $(function () {
        var uploadUrl = "/Home/Upload";
        //通过JS初始化插件，隐藏插件的宽度和按钮
        $("#input-4").fileinput({
            language: "zh",
            showCaption: false
        });
        //
        $("#input-6").fileinput({
            language: "zh",
            showUpload: false, //是否显示上传按钮
            maxFileCount: 3, //最多选择几个文件
            mainClass: "input-group-lg" //主要样式
        });

        //高级用法
        //设置选择上传文件的大小和设置初始预览
        $("#input-24").fileinput({
            language: "zh",
            uploadUrl: uploadUrl, //上传地址
            initialPreview: [    //初始默认预览信息
                '/Uploads/default1.jpg',
                '/Uploads/default2.jpg'
            ],
            initialPreviewAsData: true,
            initialPreviewConfig: [
                { caption: "Moon.jpg", size: 930321, width: "120px", key: 1 },
                { caption: "Earth.jpg", size: 1218822, width: "120px", key: 2 }
            ],
            deleteUrl: "/Home/DeleteFile",
            overwriteInitial: false,
            maxFileSize: 1000,
            initialCaption: "The Moon and the Earth"
        });
        //设置初始预览，并上传覆盖
        $("#input-25").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            initialPreview: [
                 '/Uploads/default1.jpg',
               '/Uploads/default2.jpg'
            ],
            initialPreviewAsData: true,
            initialPreviewConfig: [
                { caption: "Moon.jpg", size: 930321, width: "120px", key: 1, showDelete: false },
                { caption: "Earth.jpg", size: 1218822, width: "120px", key: 2, showZoom: false }
            ],
            deleteUrl: "/Home/DeleteFile",
            overwriteInitial: true,
            initialCaption: "The Moon and the Earth"
        });
        //显示控件为一个单独的按钮
        $("#input-20").fileinput({
            language: "zh",
            browseClass: "btn btn-primary btn-block",
            showCaption: false,
            showRemove: false,
            showUpload: false
        });
        //只选择图片，自定义按钮样式
        $("#input-21").fileinput({
            language: "zh",
            previewFileType: "image", //预览文件类型
            browseClass: "btn btn-success", //选择按钮样式
            browseLabel: "Pick Image", //选择按钮文字
            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ", //选择按钮比图标
            removeClass: "btn btn-danger", //移除按钮样式
            removeLabel: "Delete", //移除按钮文字
            removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ", //移除按钮图标
            uploadClass: "btn btn-info", //上传按钮样式
            uploadLabel: "Upload", //上传按钮文字
            uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> " //上传按钮图标
        });
        //更改预览背景，并允许只用于选择和预览的文本文件
        $("#input-22").fileinput({
            language: "zh",
            previewFileType: "text",
            allowedFileExtensions: ["txt", "md", "ini", "text"],
            previewClass: "bg-warning"
        });
        //使用模板的高级定制。例如，从右到左按钮的位置改变。
        $("#input-23").fileinput({
            language: "zh",
            showUpload: false,
            layoutTemplates: {
                main1: "{preview}\n" +
                "<div class=\'input-group {class}\'>\n" +
                "   <div class=\'input-group-btn\'>\n" +
                "       {browse}\n" +
                "       {upload}\n" +
                "       {remove}\n" +
                "   </div>\n" +
                "   {caption}\n" +
                "</div>"
            }
        });
        //使用插件方法在运行时改变输入。例如，单击“修改”按钮来禁用插件和更改插件选项
        $(".btn-modify").on("click", function () {
            var $btn = $(this), $input = $("#input-40");
            if ($btn.text() == "修改") {
                $("#input-40").fileinput("disable").fileinput("refresh", { showUpload: false });
                $btn.html("还原");
                alert("禁用上传控件和按钮");
            }
            else {
                $("#input-40").fileinput("enable").fileinput("refresh", { showUpload: true });
                $btn.html("修改");
                alert("起用上传控件和按钮");
            }
        });
        //使用allowedFileTypes限制文件类型
        $("#input-41").fileinput({
            language: 'zh',
            maxFileCount: 10,
            allowedFileTypes: ["image", "video"]
        });
        //限定文件扩展名
        $("#input-42").fileinput({
            language: "zh",
            maxFileCount: 10,
            allowedFileExtensions: ["jpg", "gif", "png", "txt"]
        });
        //禁用预览和自定义自己的错误容器和消息
        $("#input-43").fileinput({
            language: "zh",
            showPreview: false,
            allowedFileExtensions: ["zip", "rar", "gz", "tgz"],
            elErrorContainer: "#errorBlock"
        });
        //控制最大预览文件大小
        $("#input-44").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            maxFilePreviewSize: 10240
        });

        //文件夹上传
        //上传文件夹里单个文件
        $("#input-folder-1").fileinput({
            language: "zh",
            browseLabel: '选择文件夹...'
        });
        //上传文件夹里多个文件
        $("#input-folder-2").fileinput({
            language: "zh",
            browseLabel: '选择文件夹...',
            previewFileIcon: '<i class="fa fa-file"></i>',
            allowedPreviewTypes: null, // set to empty, null or false to disable preview for all types
            previewFileIconSettings: {
                'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                'jpg': '<i class="fa fa-file-photo-o text-warning"></i>',
                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                'htm': '<i class="fa fa-file-code-o text-info"></i>',
                'txt': '<i class="fa fa-file-text-o text-info"></i>',
                'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
            },
            previewFileExtSettings: {
                'doc': function (ext) {
                    return ext.match(/(doc|docx)$/i);
                },
                'xls': function (ext) {
                    return ext.match(/(xls|xlsx)$/i);
                },
                'ppt': function (ext) {
                    return ext.match(/(ppt|pptx)$/i);
                },
                'jpg': function (ext) {
                    return ext.match(/(jp?g|png|gif|bmp)$/i);
                },
                'zip': function (ext) {
                    return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                },
                'htm': function (ext) {
                    return ext.match(/(php|js|css|htm|html)$/i);
                },
                'txt': function (ext) {
                    return ext.match(/(txt|ini|md)$/i);
                },
                'mov': function (ext) {
                    return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                },
                'mp3': function (ext) {
                    return ext.match(/(mp3|wav)$/i);
                },
            }
        });

        //设置语言
        $("#input-pt-br").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            allowedFileExtensions: ["jpg", "png", "gif"]
        });

        //主题
        //Font Awesome Theme
        $("#input-fa").fileinput({
            language: "zh",
            theme: "fa",
            uploadUrl: uploadUrl
        });
        //Glyphicons Theme
        $("#input-gly").fileinput({
            language: "zh",
            theme: "gly",
            uploadUrl: uploadUrl
        });

        //初始化预览数据
        $("#input-pd").fileinput({
            language: "zh",
            uploadUrl: uploadUrl, //上传路径
            uploadAsync: false, //同步上传
            minFileCount: 2,  //最少选择上传的个数
            maxFileCount: 5, //最多选择上传的个数
            overwriteInitial: false,//是否覆盖默认数据
            initialPreview: [  //初始化预览
                // 图片数据
               '/Uploads/default1.jpg',
               '/Uploads/default2.jpg',
                // 视频数据
                "/Uploads//small.mp4",
                // PDF 数据
                '/Uploads/AsynWait.pdf',
                // 文本数据
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut mauris ut libero fermentum feugiat eu et dui. Mauris condimentum rhoncus enim, sed semper neque vestibulum id. Nulla semper, turpis ut consequat imperdiet, enim turpis aliquet orci, eget venenatis elit sapien non ante. Aliquam neque ipsum, rhoncus id ipsum et, volutpat tincidunt augue. Maecenas dolor libero, gravida nec est at, commodo tempor massa. Sed id feugiat massa. Pellentesque at est eu ante aliquam viverra ac sed est.",
                // HTML数据
                '<div class="text-center">' +
                '<h3>Lorem Ipsum</h3>' +
                '<p><em>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</em></p>' +
                '<h5><small>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</small></h5>' +
                '<hr>' +
                '</div>' +
                '<div class="text-justify">' +
                '<p>' +
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis convallis dolor sed dignissim. Phasellus euismod mauris vel dolor maximus, sed fermentum mauris lobortis. Aliquam luctus, diam in luctus egestas, magna lacus luctus libero, scelerisque mattis ante dolor ac nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse varius orci ultricies massa euismod, at semper turpis fermentum. Quisque vitae augue vel lectus viverra facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla lacinia molestie diam, et volutpat nunc bibendum a. Cras a est sed augue commodo accumsan quis vitae nisi.' +
                '</p>' +
                '<p>' +
                'Nunc sit amet metus et dui aliquet feugiat. Praesent lobortis, ipsum et elementum dignissim, urna libero fringilla justo, at tincidunt nisi mi sed mi. Integer vel est porttitor, tempor tortor non, lobortis felis. Curabitur porttitor nisi et volutpat iaculis. Fusce nec feugiat lectus, vitae ullamcorper lorem. Ut ultrices nunc imperdiet placerat malesuada. Proin commodo erat in egestas maximus.' +
                '</p>'
            ],
            initialPreviewAsData: true, // 确定是否只发送预览数据，而不是原始标记
            initialPreviewFileType: 'image', // image是默认的可以重写
            initialPreviewConfig: [ //初始化预览配置
                { caption: "Desert.jpg", size: 827000, width: "120px", url: uploadUrl, key: 1 },
                { caption: "Lighthouse.jpg", size: 549000, width: "120px", url: uploadUrl, key: 2 },
                { type: "video", size: 375000, filetype: "video/mp4", caption: "KrajeeSample.mp4", url: uploadUrl, key: 3 },
                { type: "pdf", size: 8000, caption: "About.pdf", url: uploadUrl, key: 4 },
                { type: "text", size: 1430, caption: "LoremIpsum.txt", url: uploadUrl, key: 5 },
                { type: "html", size: 3550, caption: "LoremIpsum.html", url: uploadUrl, key: 6 }
            ],
            purifyHtml: true, // 默认的HTML数据预览净化
            uploadExtraData: { //上传额外的数据
                img_key: "1000",
                img_keywords: "happy, places",
            }
        }).on('filesorted', function (e, params) {
            console.log('File sorted params', params);
        }).on('fileuploaded', function (e, params) {
            console.log('File uploaded params', params);
        });

        //禁用预览所有文件类型的内容,而是显示文件类型图标
        $("#input-ficons-1").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            uploadAsync: true,
            previewFileIcon: '<i class="fa fa-file"></i>',
            allowedPreviewTypes: null, // 设置 empty、null、false禁用所有类型的预览
            previewFileIconSettings: {
                'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                'jpg': '<i class="fa fa-file-photo-o text-warning"></i>',
                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
            }
        });
        //显示文件类型，部分显示内容
        $("#input-ficons-3").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            previewFileIcon: '<i class="fa fa-file"></i>',
            allowedPreviewTypes: ['image', 'text'], // 允许预览图片和文字
            previewFileIconSettings: {
                'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
            }
        });

        //设置选择上传的图像的最小高度宽度
        $("#input-dim-1").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            allowedFileExtensions: ["jpg", "png", "gif"],
            minImageWidth: 50,
            minImageHeight: 50
        });
        //设置选择上传的图像的最大高度宽度
        $("#input-dim-2").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            allowedFileExtensions: ["jpg", "png", "gif"],
            maxImageWidth: 250,
            maxImageHeight: 250
        });

        //图像调整大小（宽度）
        $("#input-image-1").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            allowedFileExtensions: ["jpg", "png", "gif"],
            maxImageWidth: 200,
            maxFileCount: 1,
            resizeImage: true
        }).on('filepreupload', function () {
            $('#kv-success-box').html('');
        }).on('fileuploaded', function (event, data) {
            $('#kv-success-box').append(data.response.link);
            $('#kv-success-modal').modal('show');
        });

        //限制一个文件
        $("#input-repl-1").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            autoReplace: true,
            maxFileCount: 1,
            allowedFileExtensions: ["jpg", "png", "gif"]
        });
        //限制一个文件（备用）
        $("#input-repl-1a").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            autoReplace: true,
            overwriteInitial: true,
            showUploadedThumbs: false,
            maxFileCount: 1,
            initialPreview: [
                "<img style='height:160px' src='/Uploads/default1.jpg'>",
            ],
            initialCaption: 'Initial-Image.jpg',
            initialPreviewShowDelete: false,
            showRemove: true,
            showClose: false,
            layoutTemplates: { actionDelete: '' }, // disable thumbnail deletion
            allowedFileExtensions: ["jpg", "png", "gif"]
        });
        //多个文件的限制
        $("#input-repl-2").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            autoReplace: true,
            maxFileCount: 5,
            allowedFileExtensions: ["jpg", "png", "gif"]
        });

        //最大文件数量
        $("#input-fcount-1").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            maxFileCount: 4,
            validateInitialCount: true, //是否包含初始化数量
            overwriteInitial: false,
            initialPreview: [
                "<img style='height:160px' src='/Uploads/default1.jpg'>",
                "<img style='height:160px' src='/Uploads/default1.jpg'>",
                "<img style='height:160px' src='/Uploads/default2.jpg'>",
            ],
            initialPreviewConfig: [
                { caption: "Nature-1.jpg", size: 628782, width: "120px", url: "/Home/DeleteFile", key: 1 },
                { caption: "Nature-2.jpg", size: 982873, width: "120px", url: "/Home/DeleteFile", key: 2 },
                { caption: "Nature-3.jpg", size: 567728, width: "120px", url: "/Home/DeleteFile", key: 3 },
            ],
            allowedFileExtensions: ["jpg", "png", "gif"]
        });
        //最小文件数量
        $("#input-fcount-2").fileinput({
            language: "zh",
            uploadUrl: uploadUrl,
            minFileCount: 2,
            validateInitialCount: true,
            overwriteInitial: false,
            initialPreview: [
                "<img style='height:160px' src='/Uploads/default1.jpg'>",
                "<img style='height:160px' src='/Uploads/default2.jpg'>",
            ],
            initialPreviewConfig: [
                { caption: "City-1.jpg", size: 823677, width: "120px", url: "/Home/DeleteFile", key: 1 },
                { caption: "City-2.jpg", size: 926367, width: "120px", url: "/Home/DeleteFile", key: 2 },
            ],
            allowedFileExtensions: ["jpg", "png", "gif"]
        });


        //插件方法
        //操作方法
        var $el = $('#file-4'), initPlugin = function () {
            $el.fileinput({
                uploadUrl: uploadUrl,
                uploadExtraData: { kvId: '10' },
                dropZoneEnabled: false,
            }).off('filepreupload').on('filepreupload', function () {
                alert("Initial pre-upload message!");
            });
        };

        initPlugin();
        $(".btn-disable").on('click', function () {
            var $btn = $(this);
            if (!$el.data('fileinput')) {
                initPlugin();
                $el.trigger('change');
            }
            if ($el.attr('disabled')) {
                $el.fileinput('enable');
                $btn.html('Disable').removeClass('btn-primary').addClass('btn-default');
            } else {
                $el.fileinput('disable');
                $btn.html('Enable').removeClass('btn-default').addClass('btn-primary');
            }
        });

        // `destroy` method
        $(".btn-destroy").on('click', function () {
            if ($el.data('fileinput')) {
                $el.fileinput('destroy');
            }
        });

        // recreate plugin after destroy
        $(".btn-recreate").on('click', function () {
            if ($el.data('fileinput')) {
                return;
            }
            initPlugin();
            if ($el.val()) {
                $el.trigger('change');
            }
        });

        // refresh plugin with new options 
        $(".btn-refresh").on('click', function () {
            $el.fileinput('refresh', { previewClass: 'bg-info' })
                .off('fileuploaded').on('fileuploaded', function () {
                    alert("An additional upload completion message (only received after plugin refresh).");
                });
        });
    });


</script>
